# Base de données PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/prmp_ia?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-ici"

# DeepSeek API
DEEPSEEK_API_KEY="votre-cle-deepseek"
